@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #ff0000;

// force lightbox to stay open
.fslightbox-container {
  pointer-events: none !important;
}
.fslightbox-slide-btn-container {
  pointer-events: all !important;
}

//@import "~bulma/bulma.sass";
// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";